.loginPage {
    display: flex;
    justify-content: center;
    min-height: 600px;
    background: left / 100% 100% no-repeat url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg);
}