<footer>
    <div class=" flex justify-content-between bottomNav">
        <div class="bottomNav__info">
            <img src="https://themepixer.com/demo/html/halda/halda/assets/img/logo/logo.png" />
            <p style="word-wrap: break-word">
                Gemas marketplace the relase etras thats sheets continig passag.
            </p>
            <br />
            <span><i class="bi bi-geo-alt"></i>Address : PO Box W75 Street lan West new
        queens</span
      >
      <hr />
      <span><i class="bi bi-headphones"></i>Phone : +24 1245 654 235</span>
            <hr />
            <span><i class="bi bi-envelope-open"></i>Email : info@exemple.com</span>
        </div>
        <div class="bottomNav__something">
            <h4>Some Thing</h4>
            <ul>
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
            </ul>
        </div>
        <div class="bottomNav__something">
            <h4>Some Thing</h4>
            <ul>
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
                <hr />
                <li><a>Some thing 1</a></li>
            </ul>
        </div>
        <div class="bottomNav__social">
            <h4>FOLLOW US</h4>
            <div class="bottomNav__social__button">
                <button class="btn btn-primary bi bi-facebook"></button>
                <button class="btn btn-danger bi bi-youtube"></button>
                <button class="btn btn-primary bi bi-twitter"></button>
            </div>
            <h4>NEWSLETTER SIGN UP</h4>
            <div class="bottomNav__social__input">
                <span style="background-color: #ff8503;" class="btn bi bi-envelope-fill"></span>
                <input class="text-base text-color surface-overlay py-2 border-1 border-solid surface-border border-round appearance-none outline-none" type="text " />
            </div>
        </div>
    </div>
</footer>