<div class="homePageSlide">
    <img src="https://themepixer.com/demo/html/halda/halda/assets/img/slider/banner_bg.jpg" />
    <div class="homePageSlide__page">
        <span class="bi bi-chevron-left" style="font-size: 2vw"></span>
        <div class="homePageSlide__page__detail">
            <h1 style="font-size: 2vw; padding: 10px">WELCOME TO SHOP GAME</h1>
            <h1 style="font-size: 3vw; padding: 10px; margin-bottom: 50px">
                ONLINE GAMING SITE
            </h1>
            <a>Discovery now</a>
        </div>
        <span class="bi bi-chevron-right" style="font-size: 2vw"></span>
    </div>
</div>