<div class="row" style="padding: 2% 5%;">
    <div *ngIf="userCart?.cartDetail" class="col-sm-8 ">
        <div class="bg-light py-2">
            <div class="p-2" style="border-bottom:1px soild black">
                <button class="btn bi bi-back" type="button"></button>
                <label>Continue Shopping</label>
            </div>
            <div class="p-2">
                <h3>Shopping cart</h3>
            </div>
            <div class="d-flex flex-column justify-content-start gap-2 px-4">
                <div class="row py-2 d-flex align-items-center" *ngFor="let item of userCart.cartDetail" style="box-shadow:5px 3px 3px black;">
                    <div class="col-sm-2">
                        <img [src]="item.product.imgX.url" width="50%" />
                    </div>
                    <div class="col-sm-7">
                        <h2>{{item.product.productName}}</h2>
                    </div>
                    <div class="col-sm-2">
                        <del>{{item.product.price | currency:'USD'}}</del>
                        <b>{{item.product.price - item.product.sale.salePersent| currency:'USD'}}</b>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn bi bi-x"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 bg-light">
        <app-payment-checkout-form *ngIf="userCart" [userCart]="userCart"></app-payment-checkout-form>
    </div>
</div>